<form class="form card">
  <div class="card_header">
    <h1 class="form_heading">Sign in</h1>
  </div>
  <div class="field">
    <label for="username">Username</label>
    <input id="username" placeholder="Username" type="text" name="username" class="input">
  </div>
  <div class="field">
    <label for="password">Password</label>
    <input id="password" placeholder="Password" type="password" name="user_password" class="input">
  </div>
  <div class="field">
    <label for="dang ky">dang ky</label>
    <button class="button">Login</button>
  </div>
</form>